server:
  port: 8083

spring:
  application:
    name: media-service
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB
  data:
    mongodb:
      uri: mongodb://admin:password@localhost:27018/buy01-media?authSource=admin
      auto-index-creation: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

file:
  upload-dir: uploads
